@import '_var.scss';

.contribute {
    position: fixed;
    bottom: 24px;
    right: 24px;

    &__button {
        @include spread-shadow;
        text-decoration: none;
        background: $dark-cerulean;
        border-radius: 4px;
        padding: 4px 8px;
        color: $white;
        font-size: $font-md;
        transition: $quick;
        cursor: pointer;
        font-family: $font-main;

        &:hover {
            background: $raisin-black;
        }
    }
}
