.picker {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    position: relative;

    &__part-name {
        margin: 8px;
        color: #094074;
    }
}