.graphic {
    flex: 1;
    min-width: 12px;
    position: relative;
    height: calc(0.5 / var(--scale, 0.5) * 1600px);

    overflow: hidden;
    position: relative;

    transform: scale(0.5);
    transform: scale(var(--scale, 0.5));
    transform-origin: center top;
}