.graphic {
    flex: 1;
    min-width: 12px;
    position: relative;
    height: 100vh;

    overflow: hidden;
    position: relative;

    transform: scale(0.5);
    transform: scale(var(--scale, 0.5));
    transform-origin: center top;
}